@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
}

body{
    width: 100vw;
    background-color: #ffffff;
}

header{
    background-color: #ffffff;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav{
    width: 90%;
    /* border: 2px solid rgb(211, 109, 109); */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: -20px;
    height: 80%;
}

nav .logo-container{
    height: 100%;
    flex-basis: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .logo-container span {
    height: 50%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

}

nav .logo-container span img{
    height: 100%;
}

nav .search-container{
    flex-basis: 60%;
    height: 80%;
    /* border: 1px solid; */
    box-shadow: 0px 0px 4px rgb(204, 204, 204);
    border-radius: 6px;
    align-items: center;
    display: flex;
    padding-left: 1em;
}

header nav .search-container .location-container{
    flex-basis: 40%;
    border-right: 1px solid #595959;
    height: 20px;
    padding-right: 1em;
    margin-right: 1em;
    display: flex;
    align-items: center;
    gap: 8px;
}

header nav .search-container .location-container .location-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.location-logo svg{
    color: #ff6982;
}

.input-box{
    width: 96%;
    /* border: 1px solid; */
}

.input-box input{
    outline: none;
    width: 100%;
    border: none;
    height: 30px;
}

.down-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 3px;
}


header nav .search-container .input-container{
    flex-basis: 60%;
    gap: 10px;
    /* border: 1px solid red; */
    height: 70%;
    display: flex;
    align-items: center;
}

header nav .search-container .input-container .search-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 100%;
}

header nav .search-container .input-container .search-icon svg{
    margin-left: 5px;
}

header nav .search-container .input-container .search-input-box{
    width: 100%;
}

header nav .search-container .input-container .search-input-box input{
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
}

nav .login-container{
    flex-basis: 25%;
    /* border: 1px solid rebeccapurple; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    /* margin-left: 20px; */
}

nav .login-container span a{
    color: #747474;
    font-size: 20px;
    text-decoration: none;
    font-weight: 400;
}

nav .login-container span a:hover{
    color: black;
}

.services-container{
    height: 100px;
    width: 100%;
    /* border: 1px solid ; */
    display: flex;
    align-items: center;
    background-color: #ffffff;
    background-color: #f5f4f4;

}

.services-container article{
    width: 60%;
    /* border: 1px solid; */
    position: relative;
    left: 100px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;

}

.services-container article div{
    display: flex;
    align-items: center;
    gap: 20px;

}

.services-container article div .serv-img{
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#d0d3d434;
    border-radius: 50%;
}


div:hover{
    cursor: pointer;
}

.services-container article div .serv-img img{
    height: 30px;
}

.services-container article div .serv-text{
    font-size: 20px;
    font-weight: 500;
    color: #747474;
}

#Collections{
    width: 300px;
    position: relative;
    left: 80px;
    top: 10px;
    font-size: 30px;
    font-weight: 500;
}

#explore{
    position: relative;
    top: 30px;
    font-size: 18px;
    left: 80px;
}

#all-collection{
    display: flex;
    align-items: center;
    position: absolute;
    right: 0px;
    top: 250px;
    width: 400px;
    font-size: 18px;
}

#all-collection a{
    text-decoration: none;
    color: #f1687f;
}

#all-collection span{
    position: absolute;
    transform: rotate(270deg);
    color: #f1687f;
    right: 190px;
}

main{
    position: relative;
    /* border: 1px solid; */
    top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-direction: column;
    background-color: #ffffff;

}

main #cards{
    width: 85%;
    /* border: 1px solid greenyellow; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main #cards .item{
    /* border: 1px solid; */
    width: 250px;
    height: 300px;
}

main #cards .item img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#details{
    /* border: 1px solid ; */
    height: 200px;
    width: 90%;
    margin-top: 2em;
    padding-top: 1em;
}

#details #menu{
    width: 100%;
    display: flex;
    flex-direction: column ;
    align-items: center;
}

#details #menu #option{
    /* border: 1px solid; */
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#details #menu #option .option-items{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid gray;
    padding: 0.1em;
    border-radius: 10px;
    align-items: center;
    margin: 0em 1em;
    height: 40px;
    color: gray;
}

#details #menu #option .option-items svg{
    color: gray;
}

.img-container{
    width: 95%;
    height: 300px;
    padding-top: 1.5em ;
}

.img-container img{
    width: 100%;
    height: 100%;
}