@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

body{
    background-color: #ffffff;
    height: 200vh;

}

header{
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    z-index: 1;
    box-shadow: 0px 0px 10px 1px rgb(204, 201, 201);
}

nav{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

nav #left-bar{
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav #left-bar #img-container{
    flex-basis: 60%;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

nav #left-bar #img-container img{
    height: 60%;
    width: 60%;
    border-radius: 10px;
}

#img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

nav #left-bar #text-area-heading{
    flex-basis: 130%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav #left-bar #text-area-heading h3{
    border-bottom: 1px solid;
    font-size: medium;
    font-weight: 600;
}

nav #left-bar #text-area-heading #arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
    color: red;
}

nav #right-bar{
    flex-basis: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


nav #right-bar div:nth-child(1){
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 200px;
    height: 50%;
    flex-basis: 30%;
}

nav #right-bar div{
    flex-basis: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100px;
    height: 50%;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
}

nav #right-bar div:hover{
    background-color: rgb(255, 102, 0);
    color: white;
    cursor: pointer;
}

nav #right-bar div h3{
    font-size: medium;
    font-weight: 600;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 0;
    position: absolute;
    top: 85px;
    left: 20px;
    /* border: 1px solid; */
    /* padding-bottom: 2em; */
    
}

#section-main1{
    display: flex;
    background-color:transparent;
    width: 80%;
    flex-direction: column;
}

#section-main1 .container1 #section1-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5em;
}

#section-main1 .container1 h3{
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: x-large;
    font-weight: 400;
}

#section-main1 .container1  #section2-container{
    display: flex;
    justify-content: space-evenly;
    width: 10%;
}

#section-main1 .container2{
    height: 30%;
    display: flex;
    padding: 0.5em;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}

#section-main1 .container2 .inner-container {
    flex-basis: 15%;
    height: 40%;
    /* padding: 0.5em; */
}


#section-main1 .container2 .inner-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#section-main1 .container2 .inner-container h3{
    text-align: center;
    font-size: medium;
    font-weight: 500;
}

.section-main1-5{
    background-color: #ffffff;
    width: 80%;
    margin-top: 0.5em;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
}

.section-main1-5 h2{
    padding: 1em;
    font-size: 20px;
    font-weight: 400;
}

.section-main1-5 #collection-hotels{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.section-main1-5 #collection-hotels .collection-hotels-list{
    /* border: 1px solid; */
    flex-basis: 23%;
    height: 290px;
    position: relative;
    width: 100%;
}

.section-main1-5 #collection-hotels .collection-hotels-list h3{
    position: absolute;
    top: 140px;
    left: 10px;
    font-size: larger;
    font-weight: 600;
    color: white;
}

.section-main1-5 #collection-hotels .collection-hotels-list .span{
    width: 100%;
    height: 170px;
    margin-bottom: 0.4em;
}

 .collection-hotels-list img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;   
}

 .collection-hotels-list .content-hotel{
    display: flex;
    flex-direction: column;
}

.collection-hotels-list .content-hotel p{
    font-size: 20px;
    display: inline;
    font-weight: 600;
    text-align: left;
    padding-left: 0.5em ;
    margin: 0.1em;
}

.collection-hotels-list .content-hotel .outer-circle{
    /* background-color: aqua; */
    padding-left: 0.5em ;
    display: flex;
    align-items: center;    
}

.collection-hotels-list .content-hotel #details{
    font-size: 15px;
    font-weight: 400;
    color: gray;
    padding-left: 0.5em;
}

 .collection-hotels-list .content-hotel .outer-circle .circle{
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    padding: 0.13em;
    margin-right: 0.3em;
}

.collection-hotels-list .content-hotel .outer-circle .circle svg{
    color: white;
}

#section-main2 {
    width: 80%;
    margin-top: 0.5em;
    height: 100vh;
}

#section-main2 #menu #option{
    width: 80%;
    display: flex;
    height: 50px;
    justify-content: space-evenly;
    padding: 0.5em;
    position: absolute;
}

#section-main2 #menu #option .option-items h3{
    font-size: small;
    font-weight: 400;
}

#section-main2 #menu #option .option-items{
    border: 1px solid rgb(83, 85, 80);
    width: auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.1em 1em;
    height: 100%;
}

#section-main2 #menu #option .option-items svg{
    color: gray;
    width: 15px;
    height: 15px;
    padding-left: 0.1em;
}


#section-main2 #menu h2{
    padding: 0.5em;
    font-size: 40px;
    font-weight: 400;
}

#grid{
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
    padding: 0.5em;
    margin-top: 3.5em;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
    padding-bottom: 4em;
    margin-bottom: 2em;
}

#grid .collection-hotels-list .span img{
    width: 230px;
    height: 150px;
    object-fit: cover;
}

.cities{
    width: 100%;
    height: 55%;
    border-bottom: 1px solid gray;
}

.cities #collections-cities{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    height: 40vh;
    color: gray;
}

.cities h2{
    font-size: 30px;
    font-weight: 400;
    margin: 0.5em;
}

.cities #collections-cities .outer-cities{
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 13px;
}
footer{
    margin-top: 2em;
    height: 13vh;
    width: 101.5%;
    left: -20px;
    position: absolute;
    background-color: rgb(189, 187, 187);
}

.footer-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 1em;
    margin-left: 4em;
}

.footer-main .footer-icon{
    flex-basis: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
}

.footer-main h2{
    padding-left: 2em;
    font-weight: 500;
}

.footer-main .footer-icon img{
    width: 140px;
    height: 50px;
}

.collection-hotels-list{
    transition: all 0.4s ease-in-out;
}

.collection-hotels-list:hover{
    cursor: pointer;
    transform: scale(0.9);
}

.option-items:hover{
    color: white;
    background-color: gray;
}
