*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: rgb(221, 219, 219);
    height: 400px;
    width: 400px;
    border-radius: 20px;
    padding: 2em;
    display: flex;
    flex-direction: column;
}

h4{
    text-align: right;
}

img{
    display: block;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    object-fit: cover;
    border:3px solid greenyellow;
    filter: grayscale(0.9);
}

.details{
    display: flex;
    justify-content: space-evenly;
}