*{
    margin: 0%;
    padding: 0%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    flex-direction: column;
}
.register-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2em;
    border-radius: 10px;
    width: 60%;
    color: white;
    background:linear-gradient(135deg,rgb(255, 0, 179),rgb(104, 104, 224));
}
.register-main h3{
    margin: 1em;
}
.register-main p{
    text-align: justify;
    margin: 0.5em;
}
.register-main img{
    width: 100%;
    border-radius: 8px;
}
.log-reg{
    display: flex;
    flex-direction: row;
}
.log-reg button{
    padding: 0.5em;
    margin: 0.5em;
    width: auto;
}