@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --heading : rgb(92, 91, 91);
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: gray;
}

header{
    background-color: #ffffff;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 4;
}

header nav{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav #part-one{
    flex-basis: 60%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav #part-one #img-container{
    width: 7%;
    border-radius: 50%;
    height: 60%;
    flex-basis: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav #part-one #img-container img{
    height: 90%;
    width: 100%;
}

header nav #part-one #details{
    display: flex;
    justify-content: space-between;
    flex-basis: 85%;
    align-items: start;
    height: 100%;
    justify-content: start;
    align-items: center;
}

header nav #part-one #details li{
    display: inline-block;
    margin-right: 3.5em;
    height: 30px;
}

header nav #part-one #details li:hover{
    border-bottom: 2px solid green;
}

header nav #part-one #details a{
    text-decoration: none;
    color: gray;
    font-weight: 500;
}

header nav #part-two{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 40%;
    height: 100%;
    width: 100%;
    padding-left: 3em;
}

header nav #part-two #search-bar{
    height: 48%;
    flex-basis: 80%;
    display: flex;
    align-items: center;
    justify-content: end;
    border-radius: 20px;
    flex-direction: row;
    box-shadow: 0px 0px 2px 0.2px black;
}

header nav #part-two #search-bar #search-bar-space{
    flex-basis: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
}

header nav #part-two #search-bar input{
    flex-basis: 95%;
    width: 100%;
    outline: none;
    border: none;
    height: 100%;
    border-top-right-radius: 20px ;
    border-bottom-right-radius: 20px ;
    padding-left: 0em;
}

header nav #part-two #profile{
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 4em;

}

header nav #part-two #profile svg{
    height: 30px;
    width: 30px;
    color: gray;
}

header nav #part-two #profile svg:hover{
    cursor: pointer;
}

#name{
    padding-top: 90px;
    width: 100%;
    background-color: rgb(33, 41, 34);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#name #heading-items{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    font-size: larger;
}

#name #heading-items div+div{
    border: 1px solid ;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    border-radius: 20px;
    font-size: medium;
}

#name #heading-items div+div:hover{
    cursor: pointer;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
}

main #sidebar{
    height: 300px;
    /* background-color: #f0a0a0; */
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main #sidebar #bar{
    height: 70%;
    /* background-color: #b9a0a0; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main #sidebar #bar svg{
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    color: #727272;
    margin: 0.5em;
}


main #sidebar #bar svg:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: #727272;
}

main #sidebar #content{
    width: 97%;
    height: 100%;
    background-image: radial-gradient(#fafce1,rgb(91, 122, 91));
    display: flex;
    flex-direction: row;
    border-radius: 20px ;
}

main #sidebar #content #content-img{
    height: 100%;
    width: 15%;
    /* border: 1px solid; */
}

main #sidebar #content #content-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

main #sidebar #content #main-content{
    /* border: 1px solid; */
    width: 100%;
    height: 100%;
    /* background-color: #b9a0a0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main #sidebar #content #main-content h3{
    font-size: medium;
    color: rgb(78, 78, 78);
    padding: 1em;
    animation: slider 1s ease-in-out;
}

@keyframes slider {
    from {
        transform: translate(0px, 20px);
    }
    to{
        transform: translate(0px, 0px);
    }
}

main #sidebar #content #main-content #button{
    display: flex;
    justify-content: end;
    animation: slider 1s ease-in-out;
    width: 90%;
}

main #sidebar #content #main-content #button button{
    padding: 0.5em 1.5em;
    font-size: medium;
    font-weight: 600;
    background-color: rgb(247, 93, 93);
    color: #ffffff;
    border-radius: 20px;
    outline: none;
    border: none;
    border: 1px solid rgb(247, 93, 93);
    transition: all 0.5s ease-in-out;
}

main #sidebar #content #main-content #button button:hover{
    cursor: pointer;
    color: rgb(247, 93, 93);
    background-color: #ffffff;
    border: 1px solid rgb(247, 93, 93);
}

main #food-collections {
    display: flex;
    flex-direction: column;
    /* background-color: #727272; */
    width: 80%;
}

main #food-collections h2{
    padding-left: 0.5em;
    font-size: 22px;
    color: rgb(92, 91, 91);
}

main #food-collections #food-collection-list{
    /* background-color: #8f8f8f; */
    padding: 2.5em 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

main #food-collections #food-collection-list .food-collection-design{
    display: flex;
    flex-direction: column;
    padding: 0.5em 2em;
    align-items: center;
    justify-content: center;
}

main #food-collections #food-collection-list .food-collection-design h3{
    font-size: 15px;
    padding-top: 0.5em;
}

main #food-collections #food-collection-list .food-collection-design img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

main #recommend{
    background-color: #e4e3e3;
    width: 100%;
    display: flex;
    justify-content: center;
}

main #recommend .recommend {
    width: 80%;
}

main #recommend .recommend #recommend-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.5em;
    padding-top: 1em;
}

main #recommend .recommend #recommend-heading h3{
    font-size: medium;
    color: green;
    padding: 1em 0.5em;
    font-weight: 400;
}

main #recommend .recommend #recommend-heading h2{
    color: var(--heading);
    font-size: 22px;
}

main #recommend .recommend #recommend-item-container{
    height: 200px;
}

#recommend-item-container{
    display: flex;
    padding-left: 0.5em;
    justify-content: space-around;
    align-items: center;
}

#recommend-item-container .box-container{
    height: 150px;
    background-color: #fff;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
}

#recommend-item-container .box-container .box-img-container{
    background-color: #fff;
    height: 100%;
    width: 30%;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;

}

.box-container .box-img-container .box-img{
    /* border: 1px solid; */
    width: 100%;
    height: 55%;
}

.box-container .box-img-container .box-img img{
    width: 100%;
    height: 100%;   
    border-radius: 10px;
    object-fit: cover;
}

.box-container .box-img-container h4{
    padding: 1em 0em;
    font-size: 12px;
}

.box-container .box-detail {
    display: flex;
    flex-direction: column;
    padding: 1em 0.5em;
}

.box-container .box-detail .one{
    /* background-color: #87ceed; */
    height: 20px;
}

.box-container .box-detail .one .inner{
    border: 1px solid  rgb(2, 78, 2);
    height: 100%;
    width: 20%;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-container .box-detail h4{
    padding: 0.3em 0em;
}

.box-container .box-detail .one .inner .round{
    height: 60%;
    background-color: rgb(2, 78, 2);
    width: 60%;
    border-radius: 50%;
}

.box-container{
    position: relative; 
    padding: 0.2em;
}

.box-container .box-detail .box-btn{
    position: absolute;
    bottom: 10px;
    right: 15px;
    width: 25%;
}

.box-container .box-detail .box-btn button{
    width: 80px;
    height: 30px;
    font-weight: 500;
    font-size: 15px;
    background-color: rgb(2, 78, 2);
    color: white;
    outline: none;
    border: none;
    border-radius: 10px;
}

main #div{
    width: 100%;
    background-color: #fff;
    height: 30px;
}

main #world {
    background-color: #e4e3e3;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    padding-bottom: 1em;
}

main #world #world-heading{
    width: 80%;
    /* background-color: aqua; */
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;

}

main #world #world-heading h3{
    font-size: medium;
    color: green;
    padding-top: 0.5em;
    font-weight: 400;
    height: auto;
    display: inline;
}

main #world h2{
    color: var(--heading);
    font-size: 22px;
    padding-left: 0.5em;
    display: inline;
}

main #world #world-main{
    width: 80%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    position: relative;


}

main #world #world-main #world-main-img{
    width: 95%;
    height: 100%;
    border-radius: 20px;
}

main #world #world-main img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    

}


main #world #world-main #black{
    height: 300px;
    width: 95%;
    padding-top: 1em;
    background-color: rgb(0, 0, 0);
    position: absolute;
    opacity: 0.3;
    z-index: 1;
    border-radius: 20px;
}

main #world #world-main #black:hover{
    opacity: 0.5;
    cursor: pointer;
}

main #world #world-main #inner-black{
    position: absolute;
    z-index: 2;
    color: white;
    left: 60px;
    bottom: 30px;
    border-radius: 20px;
    background-color: transparent;
    display: inline;
}

main #world #world-main #inner-black button{
    width: 100px;
    height: 40px;
    margin-top: 0.5em;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    font-weight: 700;
    color: var(--heading);
}

footer{
    width: 100%;
    /* height: 70vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 4em;
    flex-direction: column;
    background-color: rgb(39, 85, 39);
    padding-bottom: 1em;

}

footer h1{
    font-size: 100px;
    color: white;
}

footer #footer-main{
    width: 80%;
    /* background-color: #fff; */
    border-bottom: 1px solid gray;
    padding-bottom: 2em;
}

#footer-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

footer #footer-main #footer-one{
    display: flex;
    /* border: 1px solid; */
    flex-basis: 8%;
    height: 100%;
    width: 100%;
    padding-top: 0.5em;
}

footer #footer-main #footer-one img{
    width: 50px;
    height: 50px;
}


footer #footer-main #footer-two{
    display: flex;
    /* border: 1px solid; */
    flex-basis: 16%;
    height: 100%;
    width: 100%;
    padding-top: 1em;
    padding-left: 1em;
    /* background-color: #727272; */
    color: white;
    display: flex;
    flex-direction: column;
}

footer #footer-main #footer-two .heading{
    font-size: medium;
}

footer #footer-main #footer-two .list{
    display: flex;
    padding-top: 1em;
    padding-left: 2em;
    flex-direction: column;
}

footer #footer-main #footer-two .list li{
    display: inline;
    font-size: 13px;

    padding-top: 1em;
}

footer #footer-main #footer-three{
    display: flex;
    /* border: 1px solid; */
    flex-basis: 18%;
    height: 100%;
    width: 100%;
    padding-top: 1em;
    padding-left: 1em;
    /* background-color: #727272; */
    color: white;
    display: flex;
    flex-direction: column;
}

footer #footer-main #footer-three .heading{
    font-size: medium;
}

footer #footer-main #footer-three .list{
    display: flex;
    padding-top: 1em;
    padding-left: 2em;
    flex-direction: column;
}

footer #footer-main #footer-three .list li{
    display: inline;
    padding-top: 1em;
    font-size: 13px;

}

footer #footer-main #footer-four{
    display: flex;
    /* border: 1px solid; */
    flex-basis: 30%;
    height: 100%;
    width: 100%;
    padding-top: 1em;
    padding-left: 1em;
    /* background-color: #727272; */
    color: white;
    display: flex;
    flex-direction: column;
}

footer #footer-main #footer-four .heading{
    font-size: medium;
}

footer #footer-main #footer-four .list{
    display: flex;
    padding-top: 1em;
    padding-left: 2em;
    flex-direction: column;
}

footer #footer-main #footer-four .list li{
    display: inline;
    padding-top: 1em;
    font-size: 13px;
}

footer #footer-main #footer-five{
    display: flex;
    /* border: 1px solid; */
    flex-basis: 20%;
    height: 100%;
    width: 100%;
    padding-top: 1.5em;
    padding-left: 1em;
    /* background-color: #727272; */
    color: white;
    font-size: 13px;
    flex-direction: column;
}

footer #footer-main #footer-five #social{
    display: flex;
    width: 100%;
    height: 50px;
    margin-top: 2em;
    /* background-color: #e4e3e3; */
}

footer #footer-main #footer-five #social div{
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer #footer-main #footer-five #social div svg{
    height: 60%;
    width: 60%;
}

footer #footer-main #footer-six{
    display: flex;
    flex-basis: 20%;
    height: 100%;
    width: 100%;
    padding-top: 1em;
    /* background-color: firebrick; */
    flex-direction: column;
}

footer #footer-main #footer-six #appstore{
    display: flex;
    flex-direction: column;
}

footer #footer-main #footer-six img{
    width: 100%;
    height: 100%;
    padding-bottom: 0.5em;
}

#web-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1em;
    width: 80%;
    /* background-color: #fff; */
    height: 50px;
}

#web-details #web-one{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    color: white;
}

#web-details #web-one div{
    border-right: 1px solid;
    padding-right: 0.5em;
    margin-right: 2em;
}

#web-details #web-two {
    font-size: 12px;
    color: white;
}